{{ define "main" }}
<main class="main" role="main">

  <style type="text/css">
    body {background-color: navy !important;}
    .shake {
      background: #000 url("/maha.jpg") center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .hero .herobutton {
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }  
  </style>

  <section class="hero shake is-halfheight has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="card p-4 my-4">
          <h1 class="title is-1 mt-5">Maharlika -- A New Vision for the Philippines</h1>
          <h2 class="subtitle is-3 ">We have moved this to <a href="https://maharlika.superphysics.org">https://maharlika.superphysics.org</a></h2>
        </div>
        <div class="columns is-mobile my-5">
          <div class="column is-hidden-mobile is-2-desktop">
          </div>
          <div class="column is-12-touch is-8-desktop mb-5">
            <div class="has-text-centered label">
              <figure class="image is-16by9">
                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/{{ if .Params.youtube }} {{ .Params.youtube }} {{ else }}PjQjps9DTXw{{ end }}" frameborder="0" allowfullscreen></iframe>
              </figure>
            </div>
          </div>          
          <div class="column is-hidden-mobile is-2-desktop">
          </div>
        </div>

        {{ with .Params.cards }}
          {{ partial "cards.html" . }}          
        {{ end }}

      </div>
    </div>
  </section>    

</main>
{{ end }}
