{{ $page := . }}

{{ $isEnabled := $page.Params.widgets.content.isEnabled | default $page.Site.Params.widgets.content.isEnabled | default false }}
{{ $isBannerEnabled := $page.Params.widgets.content.isBannerEnabled | default $page.Site.Params.widgets.content.isBannerEnabled | default false }}
{{ $isCategoriesEnabled := $page.Params.widgets.content.isCategoriesEnabled | default $page.Site.Params.widgets.content.isCategoriesEnabled | default false }}
{{ $isTagsEnabled := $page.Params.widgets.content.isTagsEnabled | default $page.Site.Params.widgets.content.isTagsEnabled | default false }}

{{ if $isEnabled }}
  {{ if or (and $isBannerEnabled $page.Params.banner) $page.Content }}
      
    <section class="section widget-content">
      <div class="container">
        <article class="content">
          {{ if $page.Content }}
            {{ if .Params.heading }}
                <small style="color: gray">{{ .Params.heading }}</small>                    
            {{ end }}
            {{ if .Params.subtitle }}
                <small style="color: gray">{{ .Params.subtitle }}</small>                    
            {{ end }}                        
            <div class="mb-6">
              <h1 class="title is-3"> {{ $page.Title }}</h1>
 
 <span>
              {{ with .Params.date }}              
                <small style="color: gray">{{ .Format "January 2, 2006" }}</small>                  
              {{ end }}  

                
              {{ with .Params.dateorig }}
                <small style="color: gray">{{ . }}</small>                  
              {{ end }}                                

              {{ with .Params.author }}              
                <small style="color: gray">by {{ . }} </small>                  
              {{ end }}  



                {{ if .Params.icon }}
                  <img src="{{ .Params.icon }}" style="right: 0; position: absolute; height: 30px" alt="Icon">
                {{ else }}
                {{ end }}                                                    

 </span>

            </div>

            {{ $page.Content |  safeHTML }}

            <div class="columns is-multiline is-mobile my-6">    
              {{ with .NextInSection }}
                <div class="column is-6-desktop is-12-mobile">
                  <a href="{{ .Permalink | relURL }}" title="Contact" class="button is-light is-fullwidth is-rounded my-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon mr-2" fill='gray'><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>
                  Back to {{ .Title }} </a>
                </div>                            
              {{ end }}

              {{ with .PrevInSection }}
                <div class="column is-6-desktop is-12-mobile">
                  <a href="{{ .Permalink | relURL }}" title="Contact" class="button is-light is-fullwidth is-rounded my-2">Next {{ .Title }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon ml-2" fill='gray'><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
                  </a>
                </div>
              {{ end }}
            </div>                               
          {{ end }}
        </article>
      </div>
    </section>
  {{ end }}
{{ end }}

