[data-sal]{transition-duration:.2s;transition-duration:var(--sal-duration,.2s);transition-delay:0s;transition-delay:var(--sal-delay,0s);transition-timing-function:ease;transition-timing-function:var(--sal-easing,ease)}[data-sal][data-sal-duration="200"]{transition-duration:.2s}[data-sal][data-sal-duration="250"]{transition-duration:.25s}[data-sal][data-sal-duration="300"]{transition-duration:.3s}[data-sal][data-sal-duration="350"]{transition-duration:.35s}[data-sal][data-sal-duration="400"]{transition-duration:.4s}[data-sal][data-sal-duration="450"]{transition-duration:.45s}[data-sal][data-sal-duration="500"]{transition-duration:.5s}[data-sal][data-sal-duration="550"]{transition-duration:.55s}[data-sal][data-sal-duration="600"]{transition-duration:.6s}[data-sal][data-sal-duration="650"]{transition-duration:.65s}[data-sal][data-sal-duration="700"]{transition-duration:.7s}[data-sal][data-sal-duration="750"]{transition-duration:.75s}[data-sal][data-sal-duration="800"]{transition-duration:.8s}[data-sal][data-sal-duration="850"]{transition-duration:.85s}[data-sal][data-sal-duration="900"]{transition-duration:.9s}[data-sal][data-sal-duration="950"]{transition-duration:.95s}[data-sal][data-sal-duration="1000"]{transition-duration:1s}[data-sal][data-sal-duration="1050"]{transition-duration:1.05s}[data-sal][data-sal-duration="1100"]{transition-duration:1.1s}[data-sal][data-sal-duration="1150"]{transition-duration:1.15s}[data-sal][data-sal-duration="1200"]{transition-duration:1.2s}[data-sal][data-sal-duration="1250"]{transition-duration:1.25s}[data-sal][data-sal-duration="1300"]{transition-duration:1.3s}[data-sal][data-sal-duration="1350"]{transition-duration:1.35s}[data-sal][data-sal-duration="1400"]{transition-duration:1.4s}[data-sal][data-sal-duration="1450"]{transition-duration:1.45s}[data-sal][data-sal-duration="1500"]{transition-duration:1.5s}[data-sal][data-sal-duration="1550"]{transition-duration:1.55s}[data-sal][data-sal-duration="1600"]{transition-duration:1.6s}[data-sal][data-sal-duration="1650"]{transition-duration:1.65s}[data-sal][data-sal-duration="1700"]{transition-duration:1.7s}[data-sal][data-sal-duration="1750"]{transition-duration:1.75s}[data-sal][data-sal-duration="1800"]{transition-duration:1.8s}[data-sal][data-sal-duration="1850"]{transition-duration:1.85s}[data-sal][data-sal-duration="1900"]{transition-duration:1.9s}[data-sal][data-sal-duration="1950"]{transition-duration:1.95s}[data-sal][data-sal-duration="2000"]{transition-duration:2s}[data-sal][data-sal-delay="50"]{transition-delay:.05s}[data-sal][data-sal-delay="100"]{transition-delay:.1s}[data-sal][data-sal-delay="150"]{transition-delay:.15s}[data-sal][data-sal-delay="200"]{transition-delay:.2s}[data-sal][data-sal-delay="250"]{transition-delay:.25s}[data-sal][data-sal-delay="300"]{transition-delay:.3s}[data-sal][data-sal-delay="350"]{transition-delay:.35s}[data-sal][data-sal-delay="400"]{transition-delay:.4s}[data-sal][data-sal-delay="450"]{transition-delay:.45s}[data-sal][data-sal-delay="500"]{transition-delay:.5s}[data-sal][data-sal-delay="550"]{transition-delay:.55s}[data-sal][data-sal-delay="600"]{transition-delay:.6s}[data-sal][data-sal-delay="650"]{transition-delay:.65s}[data-sal][data-sal-delay="700"]{transition-delay:.7s}[data-sal][data-sal-delay="750"]{transition-delay:.75s}[data-sal][data-sal-delay="800"]{transition-delay:.8s}[data-sal][data-sal-delay="850"]{transition-delay:.85s}[data-sal][data-sal-delay="900"]{transition-delay:.9s}[data-sal][data-sal-delay="950"]{transition-delay:.95s}[data-sal][data-sal-delay="1000"]{transition-delay:1s}[data-sal][data-sal-easing=linear]{transition-timing-function:linear}[data-sal][data-sal-easing=ease]{transition-timing-function:ease}[data-sal][data-sal-easing=ease-in]{transition-timing-function:ease-in}[data-sal][data-sal-easing=ease-out]{transition-timing-function:ease-out}[data-sal][data-sal-easing=ease-in-out]{transition-timing-function:ease-in-out}[data-sal][data-sal-easing=ease-in-cubic]{transition-timing-function:cubic-bezier(.55,.055,.675,.19)}[data-sal][data-sal-easing=ease-out-cubic]{transition-timing-function:cubic-bezier(.215,.61,.355,1)}[data-sal][data-sal-easing=ease-in-out-cubic]{transition-timing-function:cubic-bezier(.645,.045,.355,1)}[data-sal][data-sal-easing=ease-in-circ]{transition-timing-function:cubic-bezier(.6,.04,.98,.335)}[data-sal][data-sal-easing=ease-out-circ]{transition-timing-function:cubic-bezier(.075,.82,.165,1)}[data-sal][data-sal-easing=ease-in-out-circ]{transition-timing-function:cubic-bezier(.785,.135,.15,.86)}[data-sal][data-sal-easing=ease-in-expo]{transition-timing-function:cubic-bezier(.95,.05,.795,.035)}[data-sal][data-sal-easing=ease-out-expo]{transition-timing-function:cubic-bezier(.19,1,.22,1)}[data-sal][data-sal-easing=ease-in-out-expo]{transition-timing-function:cubic-bezier(1,0,0,1)}[data-sal][data-sal-easing=ease-in-quad]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-sal][data-sal-easing=ease-out-quad]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-sal][data-sal-easing=ease-in-out-quad]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-sal][data-sal-easing=ease-in-quart]{transition-timing-function:cubic-bezier(.895,.03,.685,.22)}[data-sal][data-sal-easing=ease-out-quart]{transition-timing-function:cubic-bezier(.165,.84,.44,1)}[data-sal][data-sal-easing=ease-in-out-quart]{transition-timing-function:cubic-bezier(.77,0,.175,1)}[data-sal][data-sal-easing=ease-in-quint]{transition-timing-function:cubic-bezier(.755,.05,.855,.06)}[data-sal][data-sal-easing=ease-out-quint]{transition-timing-function:cubic-bezier(.23,1,.32,1)}[data-sal][data-sal-easing=ease-in-out-quint]{transition-timing-function:cubic-bezier(.86,0,.07,1)}[data-sal][data-sal-easing=ease-in-sine]{transition-timing-function:cubic-bezier(.47,0,.745,.715)}[data-sal][data-sal-easing=ease-out-sine]{transition-timing-function:cubic-bezier(.39,.575,.565,1)}[data-sal][data-sal-easing=ease-in-out-sine]{transition-timing-function:cubic-bezier(.445,.05,.55,.95)}[data-sal][data-sal-easing=ease-in-back]{transition-timing-function:cubic-bezier(.6,-.28,.735,.045)}[data-sal][data-sal-easing=ease-out-back]{transition-timing-function:cubic-bezier(.175,.885,.32,1.275)}[data-sal][data-sal-easing=ease-in-out-back]{transition-timing-function:cubic-bezier(.68,-.55,.265,1.55)}[data-sal|=fade]{opacity:0;transition-property:opacity}[data-sal|=fade].sal-animate,body.sal-disabled [data-sal|=fade]{opacity:1}[data-sal|=slide]{opacity:0;transition-property:opacity,transform}[data-sal=slide-up]{transform:translateY(20%)}[data-sal=slide-down]{transform:translateY(-20%)}[data-sal=slide-left]{transform:translateX(20%)}[data-sal=slide-right]{transform:translateX(-20%)}[data-sal|=slide].sal-animate,body.sal-disabled [data-sal|=slide]{opacity:1;transform:none}[data-sal|=zoom]{opacity:0;transition-property:opacity,transform}[data-sal=zoom-in]{transform:scale(.5)}[data-sal=zoom-out]{transform:scale(1.1)}[data-sal|=zoom].sal-animate,body.sal-disabled [data-sal|=zoom]{opacity:1;transform:none}[data-sal|=flip]{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:transform}[data-sal=flip-left]{transform:perspective(2000px) rotateY(-91deg)}[data-sal=flip-right]{transform:perspective(2000px) rotateY(91deg)}[data-sal=flip-up]{transform:perspective(2000px) rotateX(-91deg)}[data-sal=flip-down]{transform:perspective(2000px) rotateX(91deg)}[data-sal|=flip].sal-animate,body.sal-disabled [data-sal|=flip]{transform:none}



// colors
{{ with .Param "design.colors.primary" }}
$primary: {{ . }};
{{ end }}
{{ with .Param "design.colors.info" }}
$info: {{ . }};
{{ end }}

{{ with .Param "design.colors.warning" }}
$warning: {{ . }};
{{ end }}
{{ with .Param "design.colors.danger" }}
$danger: {{ . }};
{{ end }}


// radiusless
{{ if .Param "design.isRadiusless" }}
$radius: 0px;
$radius-small: 0px;
$radius-large: 0px;
{{ end }}


@import "vendors/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');





cite {
  font-weight: 300;
  line-height: 1.7;
  display: block;
  text-align: right;
  font-style: italic;
  word-break: break-word;
}

img {
  // align-items: center;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;  
  // justify-content: center;  
  // align-items: center;
  text-align: center !important;  
  display: inline-block !important;
  margin-left: auto !important;  
  border-radius: 5px;
  margin-right: auto !important;
}

figcaption {
  text-align: center !important;  
  font-style: italic;
  margin-bottom: 2em;  
  padding: 0 10%;  
  font-size: 90%;
}

.template-single {
    background-color: white !important;
}



.title:not(:last-child) {
  margin-bottom: 5px;
}

.subtitle {
  padding-top: 15px !important;
}


.h {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

small {
  line-height: 1px !important;
}


.card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}



.content h1 {
  color:  black;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #dimgray;
  font-weight: 600;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: dimgray;
  margin-bottom: 0.5714em;
}


.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.3em;
  color: dimgray;  
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.2em;
  color: dimgray;  
  margin-bottom: 0.8em;
}

.content h5 {
  font-size: 1.1em;
  color: dimgray;  
  margin-bottom: 0.8888em;
}

.content h6 {
  font-size: 1em;
  color: dimgray;  
  margin-bottom: 1em;
}




body {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.6em;
  color: black;
  background-color: black;
}


.zoom-xs:hover { transform: scale(1.02); transition: 0.1s; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.zoom-sm:hover { transform: scale(1.05); transition: 0.1s; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.zoom:hover { transform: scale(1.1); transition: 0.1s; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.zoom-lg:hover { transform: scale(1.3); transition: 0.1s; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.zoom-xl:hover { transform: scale(2); transition: 0.1s; -webkit-filter: grayscale(100%); filter: grayscale(100%);}


.squote {
  color: white;
  border: solid 1px rgba(212, 212, 255, 0.1);
  margin: 2em 0;
  padding: 1.5em 5em 1.5em 1.5em;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(100, 100, 100, 175) !important;
  transition-delay:.1s; 
  transition-timing-function:cubic-bezier(.19,1,.22,1);
  transition-duration:2s;   
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-color: #131313;  
}

.squote p:before {
  padding-right: 10px;
  font-family: Cabin;
  font-weight: 900;  
  content: "❝"
/*  content: '\f10d';*/
}

.squote p:after {
  padding-left: 5px;
/*  font-family: FontAwesome;*/
  font-weight: 900;  
  content: '❞';
  font-size: 20px;  
/*  content: '\f10e';*/
}



.Antonio-Morga {
  background-color: darkred !important;
  background-image: url(/icons/morga.jpg);
}

.aris, .Aristotle {
  background-color: #3a0000;
  background-image: url(/avatars/aris.jpg) !important;
}

.Aristoteles, .Companion {
  background-color: azure !important;
  background-image: url(/icons/g09.png) !important;
}


.Arjuna {
  background-image: url(/icons/arjuna.png);
}

.Bacon {
  background-color: black;
  // #bc1002;
  background-image: url(/icons/bacon.png) !important;
}

.Krishna {
  background-image: url(/avatars/krishna.png);
}

.poincare {
  background-color: darkslateblue;
  background-image: url(/avatars/poincare.png) !important;
}

.conf, .Confucius {
  background-image: url(/icons/conf.png);
}

.descartes {
  background-color: darkslateblue;
  background-image: url(/icons/descartes.png);  
}

.ein, .einstein {
  background-color: #3a0000;
  background-image: url(/icons/ein.png);
}

.einbla, .einblah, {
  background-color: #3a0000;
  background-image: url(/icons/einbla.png);
}

.hume {
  background-color: #000f3a;
  background-image: url(/icons/hume.png);
}

.ibn, .Ibn-Khaldun {
  background-color: darkgreen;
  color: white;
  background-image: url(/icons/ibn.jpg);
}

.Jews {
  background-image: url(/icons/il.png);
}

.jev, .Jevons {
  background-color: #3a0000;
  background-image: url(/icons/jevons.png);
}

.kant {
  background-color: #3a0000;
  background-image: url(/icons/kant.png);
}

.kepler {
  background-color: Navy;
  background-image: url(/avatars/kepler.jpg);
}

.keynes {
  background-color: #3a0000;
  background-image: url(/avatars/keynes.png);
}

.lao {
/*  background-color: #055;*/
  background-color: black;
  background-image: url(/avatars/laotzu.png);
}

.lor, .lorentz {
  background-color: darkslateblue;
  background-image: url(/avatars/lor.png);
}

.mac {
  background-color: black !important;
  background-image: url(/avatars/macapagal.jpg) !important;
}

.marshall {
  background-color: #3a000e;
  background-image: url(/avatars/marshall.png);
}

.mont {
  background-color: #000f3a;
  background-image: url(/icons/mont.png);
}

.newton {
  background-color: black;
  background-image: url(/icons/newton.png);
}

.quesnay {
  background-color: #000f3a;
  background-image: url(/avatars/quesnay.png);
}

.Ramus {
  background-color: darkred !important;
  background-image: url(/icons/ramus.png) !important;
}

.ric {
  background-color: #3a0000;
  background-image: url(/avatars/ricardo.jpg);
}

.riq {
  background-color: #000f3a;
  background-image: url(/avatars/riq.png);
}

.Rizal {
  background-color: navyblue;
  background-image: url(/icons/rizal.png);
}

.say {
  background-color: darkred;
  background-image: url(/icons/say.jpg);
}

.sam {
  background-color: darkred;
  background-image: url(/icons/sam.png);
}

.Sarkar {
  background-color: orangered !important;
  color: white; 
  background-image: url(/icons/sarkar.png) !important;
}

.schu, .EF-Schumacher {
  background-color: darkcyan !important;
  background-image: url(/icons/schu.png) !important;
}

.smith, .Smith {
  background-color: #055 !important;
  background-image: url(/avatars/smith.png) !important;
}

.soc, .Socrates, .socrates, .Philo {
  // background-color: #210025;
  background-image: url(/icons/socrates.png);
}

.spmed, .Bio-Superphysics, .Medical-Superphysics {
  background-image: url(/icons/spmed50.png) !important;
}

.pantry, .tao {
  background-color: darkcyan;
  background-image: url(/icons/pantry.png) !important;
}

.sp, .Superphysics {
  background-color: #fff;
  background-image: url(/favicon.png) !important;
}

.boni {
  background-color: crimson;
  background-image: url(/avatars/boni.png) !important;
}

.marx {
  background-color: #4e0000;
  background-image: url(/avatars/marx.png);
}

.mill {
  background-color: #3a000e;
  background-image: url(/avatars/mill.png);
}

.Pythagoras {
  background-color: #3a000e;
  background-image: url(/avatars/py.png);
}


.Jesus {
  background-color: #ccd6fc;
  background-image: url(/avatars/jesus.png);    
}


.Someone, .Mohammad {
  background-color: lightgray;  
  background-image: url(/icons/blank.png);  
}

.kin, .Tsz-Kin, .Lin-Fang {
  background-color: lightgray;  
  background-image: url(/icons/g00.png);  
}

.ade, .Adeimantus, .Tsz-Hi {
  background-color: #d9fefd;  
  background-image: url(/icons/g02.png);  
}

.asker, .Asker {
  background-color: gainsboro;
  background-image: url(/icons/g09.png) !important;
}

.Wang-Sun-Ki, .Tsz-Lu {
  background-color: gainsboro;
  background-image: url(/avatars/g02.png) !important;
}

.cle, .Cleitophon, .Simmias, .Duke-Ngai, .Abraham {
  background-color: #ffd3ac; 
  background-image: url(/icons/g09.png);  
}

.Protagoras, .angry, .Boomer, .Duke-Ting, .Father-of-Abraham,  {
  background-color: #ffc8d5;
  background-image: url(/icons/g08.png);  
}

.Allah {
  background-color: white;
  color: black;
  background-image: url(/icons/yellow.png);  
}

.zeno, .Tsai-Wo {
  background-color: darkgray;
  background-image: url(/icons/g10.png);  
}


.Parmenides, .Ischomachus {
  background-color: lightsteelblue;
  background-image: url(/icons/g04.png);  
}



.pole, .Polemarchus, .Cebes, .Critias, .Judge, .Man {
  background-color: #dec7ff;
  background-image: url(/icons/g04.png);
/*  background-image: url(/avatars/g9.jpg);*/
}

.Tsz-Yu, .Min-Tsz-Kienm, .Moses, .thra, .Thrasymachus, .Cleanthes {
  background-color: #dec7ff;
  background-image: url(/icons/moses.png);
/*  background-image: url(/avatars/g9.jpg);*/
}

.g, .Glaucon, .Crito, .Critobulus, .Tsz-Chang, .Callias, .Demea {
  background-color: #ccd6fc;
  background-image: url(/icons/g01.png);    
}

.ceph, .Cephalus, .Tsz-Kung, .Zechariah, .Hippias-the-Sage {
  background-color: #b7ffc9;
  background-image: url(/icons/g08.png);  
}

.Tsz-Lu, .Yuen-Sz, .Chung-Kung {
  background-color: powderblue;  
  background-image: url(/icons/g09.png);  
}

.Mary, .Wife {
  background-color: mistyrose;  
  background-image: url(/icons/veil.png);  
}

.tsang, .Tsang-Sin, .Szma-Niu {
  background-color: powderblue;  
  background-image: url(/avatars/ava4.jpg);  
}


.kung, .Kung-si, .Ki-Kang, .Tsi-Tiau-Kai {
  background-color: bisque;  
  background-image: url(/avatars/ava3.jpg);  
}

.yu, .Yen-Yu, .Yen-Yuen, .Fan-Chi {
  background-color: lightsteelblue;  
  background-image: url(/avatars/ava1.jpg);  
}

.mang, .Mang-i, .Mang-Wu, .Yen-Yung {
  background-color: mistyrose;  
  background-image: url(/avatars/ava2.jpg);  
}

.Zeno {
  background-color: bisque;  
  background-image: url(/icons/g02.png);
}



.right {
  background-position: 1% 5%;  
  background-repeat: no-repeat;
  border-radius: 5px; 
  box-shadow: 0px 5px 15px rgba(100, 100, 100, 175);
  margin: 1% 0% 1% 3%;
  padding: 60px 10px 10px 10px; 
}

.left {
  background-position: 1% 5%;  
  background-repeat: no-repeat;
  border-radius: 5px; 
  box-shadow: 0px 5px 15px rgba(100, 100, 100, 175);
/*  line-height: 1.7;  */
  margin: 1% 3% 1% 0;
  padding: 60px 10px 10px 10px;
}




.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

a.box:hover, a.box:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #485fc7;
}

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #485fc7;
}


.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



.pagination{
  justify-content: center;
  .page-item{
    &:not(:last-child){
      margin-right: 10px;
    }
    .page-link{
      font-size: 24px;
      border-radius: 0;
      border: none;
      padding: 12px 20px;
      color: white;
      font-weight: 300;
      transition: all 0.3s ease;
    }
    &.active{
      .page-link{
        background-color: gray;
        color: white;
      }
    }
    &.disabled{
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.pagination.is-rounded .pagination-previous,
.pagination.is-rounded .pagination-next {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 9999px;
}

.pagination.is-rounded .pagination-link {
  border-radius: 9999px;
}

.pagination,
.pagination-list {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  font-size: 1em;
  justify-content: center;
  margin: 0.25rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.pagination-previous,
.pagination-next,
.pagination-link {
  border-color: #dbdbdb;
  color: #363636;
  min-width: 2.5em;
}

.pagination-previous:hover,
.pagination-next:hover,
.pagination-link:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.pagination-previous:focus,
.pagination-next:focus,
.pagination-link:focus {
  border-color: #485fc7;
}

.pagination-previous:active,
.pagination-next:active,
.pagination-link:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
}

.pagination-previous[disabled],
.pagination-next[disabled],
.pagination-link[disabled] {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;
  opacity: 0.5;
}

.pagination-previous,
.pagination-next {
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.pagination-link.is-current {
  background-color: #485fc7;
  border-color: #485fc7;
  color: #fff;
}

.pagination-ellipsis {
  color: #b5b5b5;
  pointer-events: none;
}

.pagination-list {
  flex-wrap: wrap;
}

.pagination-list li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination-previous,
  .pagination-next {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .pagination-list li {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 769px), print {
  .pagination-list {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    order: 1;
  }
  .pagination-previous,
  .pagination-next,
  .pagination-link,
  .pagination-ellipsis {
    margin-bottom: 0;
    margin-top: 0;
  }
  .pagination-previous {
    order: 2;
  }
  .pagination-next {
    order: 3;
  }
  .pagination {
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0;
  }
  .pagination.is-centered .pagination-previous {
    order: 1;
  }
  .pagination.is-centered .pagination-list {
    justify-content: center;
    order: 2;
  }
  .pagination.is-centered .pagination-next {
    order: 3;
  }
  .pagination.is-right .pagination-previous {
    order: 1;
  }
  .pagination.is-right .pagination-next {
    order: 2;
  }
  .pagination.is-right .pagination-list {
    justify-content: flex-end;
    order: 3;
  }
}








// logo
.logo {
  &.is-header {
    {{ with .Param "widgets.header.logo.width" }}
    width: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
    {{ with .Param "widgets.header.logo.height" }}
    height: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
  }
  &.is-footer {
    {{ with .Param "widgets.footer.logo.width" }}
    width: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
    {{ with .Param "widgets.footer.logo.height" }}
    height: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
  }
}

.widget-header {
    .navbar-brand {
        a {
            color: $primary;
            cursor: pointer;
            &:hover {
              color: $primary;
              text-decoration: none;
            }
        }     
    }
}


{{ if or (.Param "widgets.header.menu.leftMargin") (.Param "widgets.header.menu.leftMargin") }}
.navbar-menu {
{{ with .Param "widgets.header.menu.leftMargin" }}
  margin-left: {{ . }};
{{ end }}
{{ with .Param "widgets.header.menu.leftMargin" }}
  margin-right: {{ . }};
{{ end }}
}
{{ end }}

.widget-footer {
    {{ with .Param "widgets.footer.isPaddingless" }}
    padding: 0;
    {{ end }}
    nav dl {
        dt {
            margin-bottom: 1rem; 
        }
        dd {
            margin-bottom: 0.5rem; 
        }
    }

    .back-to-top {
      position: fixed;
      bottom: {{ .Param "widgets.footer.backToTop.position.bottom" | default "1.5rem" }};
      right: {{ .Param "widgets.footer.backToTop.position.right" | default "1.5rem" }};
      z-index: 9999;
    }
}

.widget-table-of-contents {
    .table-of-contents {
        padding: 1rem;
        border-left: 0.25rem solid $primary;
        background-color: $light;
    }   
    ul {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        li {
            list-style-type: disc;
            font-weight: bold;
            ul {
                li {
                  font-weight:normal; 
                }
            }
        }
    }
    &.is-sticky {
        z-index: 999;
        position: sticky;
        {{ if .Param "widgets.tableOfContents.top" }}
        top: {{ printf "%s +" (.Param "widgets.tableOfContents.top" | default "0rem") }} $navbar-height;
        {{ else }}
        top: $navbar-height;
        {{ end }}
    }
}

.section {
    padding-left:0; 
    padding-right:0; 
    &:not(:last-child):not(:only-child) {
        padding-bottom: 0;
    }
    .section {
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.columns {
    ~.section {
        padding-top: 0;
    }
}
